@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        counter-reset: my-step;

    }

    .my-steps {
        @apply grid grid-flow-col overflow-hidden overflow-x-auto;
    }

    .my-step {
        @apply grid grid-rows-2 grid-cols-1 text-center w-56 place-items-center;

    }

    .my-step:before {
        @apply top-0 col-start-1 row-start-1 h-0.5 bg-text text-text w-[80%] ml-[-100%];
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
        content: "";
    }

    .my-step:after {
        @apply relative col-start-1 row-start-1 grid h-8 w-8 rounded-full bg-transparent z-10 text-text place-items-center border-solid border-text border-2 place-self-center;
        content: counter(my-step);
        counter-increment: my-step;
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
    }

    .my-step-done {
        @apply grid text-center place-items-center w-56 grid-cols-1 grid-rows-2;

    }

    .my-step-done:before {
        @apply top-0 col-start-1 row-start-1 h-0.5 bg-primary-500 text-text w-[80%] ml-[-100%];
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
        content: "";
        ;
    }

    .my-step-done:after {
        @apply relative col-start-1 row-start-1 grid h-8 w-8 rounded-full bg-transparent z-10 text-primary place-items-center border-solid border-primary border-2 place-self-center;
        content: counter(my-step);
        counter-increment: my-step;
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
    }

    .my-step-done:first-child:before {
        content: none;
    }

    .my-step-done:first-child:after {
        @apply bg-primary text-tertiary;
        content: url('src/assets/done.svg');

    }

    .my-toggle {
        --handleoffset: 1.5rem;
        --handleoffsetcalculator: calc(var(--handleoffset) * -1);
        @apply flex-shrink-0 h-6 w-12 cursor-pointer appearance-none border rounded-xl border-text bg-text checked:bg-primary;
        transition: box-shadow 0.2s ease-out;
        box-shadow: var(--handleoffsetcalculator) 0 0 2px #302F34 inset, 0 0 0 2px #302F34 inset, 0 0;
    }

    .my-toggle:checked,
    .my-toggle[checked="true"] {
        --handleoffsetcalculator: var(--handleoffset);
        --tw-border-opacity: 1;
        --tw-bg-opacity: 1;


    }

    .my-toggle:indeterminate {
        --tw-border-opacity: 1;
        --tw-bg-opacity: 1;
        box-shadow:
            calc(var(--handleoffset) / 2) 0 0 2px #47D7AC inset,
            calc(var(--handleoffset) / -2) 0 0 2px #47D7AC inset,
            0 0 0 2px #47D7AC inset;
    }

    .my-toggle:disabled {
        @apply border-text bg-text opacity-30;
        cursor: not-allowed;
        --tw-border-opacity: 1;

    }

    .breadcrumbs>ul>li>a>img {
        padding-right: 1rem;
    }

    .breadcrumbs>ul>li {
        font-weight: 600;
        color: #D8E9E8;
    }

    .breadcrumbs>ul>li:last-child {
        color: #47D7AC;
    }

    .breadcrumbs>ul>li:before {
        color: #D8E9E8;
        border-top: 2px solid;
        border-right: 2px solid;
    }
    .my-tabs {
        @apply flex flex-wrap items-end;
       
    }

    .my-tab-bordered {
        @apply border-text text-text border-b-4 px-2;
       
    }

    .my-tab.my-tab-active:not(.my-tab-disabled):not([disabled]) {
        @apply border-primary text-primary ;
        
    }

    .my-checkbox {
        @apply flex-shrink-0 h-6 w-6 cursor-pointer appearance-none border rounded border-text checked:bg-checked-pattern checked:animate-checkmark checked:border-primary disabled:opacity-20 disabled:cursor-not-allowed disabled:border-transparent disabled:bg-tertiary;
        --tw-border-opacity: 0.2;
    }
     
    .my-radio {
        @apply flex-shrink-0 h-6 w-6 cursor-pointer border-text appearance-none rounded-full border;
       
--tw-border-opacity: 0.2;
    }

    .my-radio:checked {
   @apply bg-primary animate-radiomark border-text ;
    --tw-bg-opacity: 1;  
    
    box-shadow: 0 0 0 4px #302F34 inset,
      0 0 0 4px #302F34 inset;
}
.my-radio:disabled {
    @apply cursor-not-allowed opacity-20;    
}

    .my-label-text {
        @apply text-sm leading-5 text-gray-300;
        --tw-text-opacity: 1;

    }

    .my-label {
        @apply cursor-pointer flex  gap-4 select-none items-center justify-between pl-1 pr-1 pt-2 pb-2
    }

    .my-loading {
        @apply pointer-events-none inline-block w-8 bg-primary text-primary;
        aspect-ratio: 1 / 1;
        mask-size: 100%;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-out infinite%7D%40keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D%40keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25%2C100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C%2Fstyle%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='2'%3E%3C%2Fcircle%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }

    .my-progress {
        @apply relative w-56 appearance-none overflow-hidden h-1 bg-text rounded-lg;
    }

    .my-progress:indeterminate {
        @apply animate-progress-loading;
        background-image: repeating-linear-gradient(90deg,
                #47D7AC -1%,
                #47D7AC 10%,
                transparent 10%,
                transparent 90%);
        background-size: 200%;
        background-position-x: 15%;
    }

    .my-progress::-webkit-progress-bar {
        @apply bg-transparent rounded-lg;
    }

}